header {
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    background: white;
    width: 100%;
}

/* header {
    position: fixed;
    text-align: center;
    margin: 0 auto;
    background: white;
    width: 100%;
    z-index: 100; 
    top: 0; 
} */

h1 {
    margin-right: auto;
    color: purple;
}
.vertical-text {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  
  .nu-logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
  }
  
  .nu-logo img {
    width: auto;
    height: 40px;
  }
.nav-bar {
    padding: 20px;
    border-radius: 6px;
    background: rgb(194, 90, 177);
}
header nav {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
header nav a{
    text-decoration: none;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
}

.main-part {
    min-height: calc(100vh-34px);
    margin-top: 0px;
}

/* .main-layout {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
  } */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 8px;
    border-radius: 6px;
    background: white;
    
}

footer nav {
    display: flex;
    gap: 5px; 
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    width: min-content;
    align-items: center;
  }

footer nav a{
    text-decoration: none;
    padding: 10px;
    background: rgb(206, 213, 218);
    color: black;
    border-radius: 50px;
    margin-right: auto; 
    font-weight: bold;
    margin: auto 20px;
    flex-basis: 2;
}
footer nav a.active {
   background: rgb(154, 103, 154);
}

.fl-button {
  width: 7ch;
  text-align: center;
}